.hist-card-wrapper {
    display: flex;
    flex-direction: row; 
    text-align: center; 
}

.hist-card-wrapper p {
    margin-bottom: 0rem;
    margin-right: 1rem;
}

.hist-card-wrapper p::before {
    content: "\00a0\00a0\00a0\00a0"; /* 공백 4칸 삽입 */
}

/* .hist-cards-title,
.hist-card {
  margin: 0.1rem 0rem;
  font-size: 0.85rem;
} */

@media (max-width: 520px) {
    .hist-card-container p {
        margin-right: 0rem; /* 화면이 좁을 때는 마진 제거 */
        min-width: 50%;
        font-size: 0.65rem;
    }
}