.hist-card-wrapper {
    display: flex;
    flex-direction: row; 
    text-align: center; 
}

.hist-card-wrapper p {
    margin: 0 0 0rem 1rem;
}

.hist-card-wrapper p::before {
    content: "\00a0\00a0\00a0\00a0"; /* 공백 4칸 삽입 */
}

@media (max-width: 520px) {
    .hist-card-wrapper p {
        font-size: var(--fontSize-0);
        margin:0 0 0 0; /* 화면이 좁을 때는 마진 제거 */
        min-width: 50%;
    }
}