.modal-outerlayer{
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-wrapper{
    /* background-color: #000000c9; */
    min-height: 80%;
    min-width: 60%;
    position: relative;

    margin: 1rem;
    justify-self: center;
    cursor: auto;
    
    background-color: var(--color-white);
    padding: 20px;
    border-radius: var(--radius-1);
    display: inline-block;
    
 
}