.career-card-wrapper {
    display: flex;
    flex-direction: row;
    border: var(--border-light);
    border-radius: var(--radius-1);
    transition: var(--transition-ease);
    /* box-shadow: 0 4px 8px var(--color-gray); */

    padding: 1rem;
    margin: 0 0 2.5rem 0;
}

.career-card-wrapper:hover {
    transform: var(--transform-scale);
}

.career-card-image {
    margin: 1rem;
}

.career-card-content-container{
    padding: 1rem 1rem 1rem 1.5rem;
}

.career-card-title {
    margin: 0 0 0.5rem 0;
}
.career-card-job-duty{
    font-family: var(--fontFamily-dohyeon);
    font-size: var(--fontSize-1);
    margin: 0 0 0 0;
}
.career-card-date {
    color: var(--color-deep-gray);
    font-size: var(--fontSize-0);
    margin: 0 0 1rem 0;
}
.career-card-content p {
    color: var(--color-light-black);
    margin-bottom: 1rem;
}
.career-card-skill{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 520px) {

    .career-card-wrapper {
        display: flex;
        flex-direction: column;
        border: none;
    }


    .career-card-image-container {
        display: flex;
        justify-content: center;
    }
    

    .career-card-content-container{
        border: var(--border-light);
        border-radius: var(--radius-1);
    }

    .career-card-container {
        display: flex;
        flex-direction: column;
        border: var(--border-light);
        border-radius: var(--radius-1);

        padding: 1rem;
    }
  
    .career-card-title {
        display: flex;
        justify-content: center;
    }
    
    .career-card-date {
        display: flex;
        justify-content: center;
        color: var(--color-deep-gray);
        font-size: var(--fontSize-0);
        margin-bottom: 0.8rem;
    }
  }