.career-card-wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 1.25rem;
    border: 1px solid #ddd; /* 테두리 미적용 */
    padding: 1rem;
    margin-bottom: 2.5rem;
  }

.career-card-content-container{
    padding: 1rem;
}
  
.career-card-image {
    margin: 1rem;
}

.career-card-title {
    font-size: 1.25rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.career-card-date {
    color: #808080;
    font-size: 0.85rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.career-card-content p {
    margin-bottom: 1rem;
}

  