.post-wrapper {
    transition: transform 0.5s ease;
    border-radius: 1.25rem; 
}

.post-wrapper > li {
    margin: 0 0 0 0rem;
}
  
.post-wrapper:hover {
  transform: scale(1.05);
  border-radius: 1.25rem; 
}

.post-link-container {
  text-decoration: none;
  color: inherit
}

.post-article {
  width: 100%;
  height: 162px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border: var(--border-light);
  border-radius: var(--radius-1); 
  box-shadow: 0 4px 8px var(--color-gray);
  margin: 2rem 0 2rem 0;
}

.post-article-thumbnail{
  width: 162px;
}

.post-article-content {
  padding: 1rem;
  margin: 0 0 0 0;
}

/* 포스트 카드 제목 */
.post-article-content h3{
  margin: 0 0 0.5rem 0;
}
/* 포스트 카드 요약 */
.post-article-content p{
  margin: 0 0 0.5rem 0;
}

.post-article-footer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post-article-date{
  font-size: var(--fontSize-0);
  color: var(--color-deep-gray);

  margin: 0 1rem 0 0;
}

.post-article-view{
  color: var(--color-deep-gray);
  font-size: var(--fontSize-0);
}

@media (max-width: 520px){

  .post-article {
    height: 100px;
  }
  
  .post-article-container{
    height: 100px;
  }

  .post-article-thumbnail{
    width: 100px;
  }

  .post-article-content > section {
    display: none;
  }
}