.banner-container {
  text-align: center;
  border: var(--border-light);
  border-radius: var(--radius-1); 

  padding: 2rem;
  margin: 5rem 0rem 0rem 0rem;
}

.banner-container:hover {
}

.banner-title {
  font-size: var(--fontSize-10);
  font-weight: bold;
  text-align: center;
  position: relative; /* 폰트가 로켓 이미지 위로 오도록 설정 */
  z-index: 1;
}
  .gradient-title{
    font-size: var(--fontSize-11);
    background: linear-gradient(to right, #18b5f4, #BA55D3, #FFB6C1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.banner-container img {
  animation: flyRocket 1.5s linear 1;
  top: 250px;
  right: 40%;
  width: 100px;
  position: absolute;
}

@keyframes flyRocket {
  from {
    top: 500px;
    right: 55%;
    width: 50px;
  }
  to {
    top: 250px;
    right: 40%;
    width: 100px;
  }
}
/* @keyframes flyRocket {
  from {
    left: 40%;
    bottom: 40%;
    width: 50px;
  }
  to {
    left: 60%;
    bottom: 55%;
    width: 75px;
  }
} */

@media (max-width: 520px) {

  .banner-container {
    padding: 1rem;
  }

  .banner-title {
    display: block;
    white-space: pre-line;
  }

  .banner-typing{
    white-space: pre-line; 

  }

  .banner-typing::after {
    content: '';
    margin-left: 0 0 0 0.6rem;

    animation: cursor 0.9s infinite steps(2);
  }
}