.about-wrapper {
    width: 100%;
}

.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: var(--border-light);
    border-radius: var(--radius-1);
    box-shadow: 0 4px 8px var(--color-gray);

    margin: 0 0 2.5rem 0;
    transition: var(--transition-ease);
}

.about-container:hover {
  transform: var(--transform-scale);
}

/* 모바일 버전 */
@media (max-width: 520px) {
    .about-container {
        flex-direction: column;
        border: none;
    }
}
