.about-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    border-radius: 1.25rem;
    align-items: center;
    margin-bottom: 2.5rem;
}

  @media (max-width: 520px) {

    .about-container{
        flex-direction: column;
        border: none;
    }
  }