.education-card-container {
    border: 1px solid #ddd;
    border-radius: 1.25rem;
    padding: 1rem; 
    margin-bottom: 0.85rem;
    transition: transform 0.5s ease;
  }
  
  .education-card-container:hover {
    transform: scale(1.1);
  }

  .education-card-title {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
  }

  @media (max-width: 520px) {
      
    .education-card-container {
        padding: 0.5rem; 
        margin-bottom: 0.8rem;
    }

}