.education-card-container {
    border: var(--border-light);
    border-radius: var(--radius-1);
    transition: var(--transition-ease);
    box-shadow: 0 4px 8px var(--color-gray);


    padding: 1rem; 
    margin: 0 0 0.85rem 0;
}

.education-card-container:hover {
  transform: var(--transform-scale);
}

.education-card-title {
  margin: 0 0 0.5rem 0;
}

@media (max-width: 520px) {
      
  .education-card-container {
    padding: 0.5rem; 
    margin: 0 0 0.8rem 0;
  }
}