.layout-wrapper {
    margin: 0 auto;
    max-width: 1000px; /* 맥북에서 사용하기 좋은 최대 너비 */
    padding: 10px 5%; /* 좌우 여백을 전체 너비의 5%로 설정 */
}

.layout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: var(--spacing-12);
}

.layout-header-title {
    font-size: 1.5rem;
    text-decoration: none;
}

.layout-nav-container {
    display: flex;
}

.layout-conent-container{
    display: flex;
    justify-content: center;
}

/* 모바일 화면 */
@media (max-width: 520px) {

    .layout-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        padding-top: 1rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    .layout-header-title {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        margin-left: 0rem;
    }
    
    .layout-nav-container{
        margin-right: 0rem;
    }
}