.layout-wrapper {
    margin: 0 auto;
    max-width: 1000px; /* 맥북에서 사용하기 좋은 최대 너비 */
    padding: 10px 5%; /* 좌우 여백을 전체 너비의 5%로 설정 */
}
.layout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: var(--spacing-12);
}
.layout-header-title {
    font-size: 1.65rem;
    font-family: var(--fontFamily-dohyeon);
    font-weight: var(--fontWeight-bold);
    color: var(--color-black);

    text-decoration: none;
}
.layout-nav-container {
    display: flex;
}
.layout-conent-container{
    display: flex;
    justify-content: center;
}
.scroll-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.scroll-to-top button {
    background-color: var(--color-white);
    border: none;
    border-radius: 50%; /* 동그란 모양으로 만듭니다. */
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    opacity: 1;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2), 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, opacity 0.1s ease;
}
.scroll-to-top.hide {
    animation: afterHide 0.8s forwards;
}
.scroll-to-top.show {
    animation: afterShow 0.8s forwards;
}
.scroll-to-top button:hover {
    transform: scale(1.15);
}
.scroll-to-top button span {
    color: var(--color-black);
    font-weight: var(--fontWeight-bold);
}
.github {
    position: fixed;
    right: 30px;
    bottom: 90px;
    
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    border-radius: 50%;
    background-color: var(--color-black);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2), 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}
.github.move-down{
    animation: moveDown 1.2s forwards;
}
.github.move-up{
    animation: moveUp 1.2s forwards;
}
.github:hover {
    transform: scale(1.15);
}
.github button span {
    font-weight: var(--fontWeight-bold);
}
.slack-chat{
    position: fixed;
    right: 22px;
    bottom: 142px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.slack-chat button {
    border: none;
    background-color: var(--color-transparent);
    font-size: 50px;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.slack-chat button:hover {
    transform: scale(1.15);
}


/* 모바일 화면 */
@media (max-width: 520px) {

    .layout-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        padding-top: 1rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    .layout-header-title {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        margin-left: 0rem;
    }
    
    .layout-nav-container{
        margin-right: 0rem;
    }
}

@keyframes afterHide {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}
@keyframes afterShow {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes moveDown {
    from {
        bottom: 90px;
    }
    to {
        bottom: 30px;
    }
}
@keyframes moveUp {
    from {
        bottom: 30px;
    }
    to {
        bottom: 90px;
    }
}