@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: "MontserratVariable", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --fontFamily-jua: 'Jua', sans-serif; /* Jua 글꼴 적용 */
  --fontFamily-dohyeon: "Do Hyeon", sans-serif;
  --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-body: var(--fontFamily-jua);
  --font-heading: var(--fontFamily-jua);
  --fontWeight-normal: 400;
  --fontWeight-bold: 700;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #2e353f; /* #005b99; */
  --color-text: #2e353f;
  --color-text-light: #3e4756;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
}

/******************************************************/
/* 마크다운 HTML CSS */
/******************************************************/

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  background: #254653;
  height: 2px;
  border: none;
  margin: -0.5rem 0rem 1.5rem 0rem;
}

/* 코드 블럭 커스텀 */
code{
  font-family: var(--font-body) !important;
  font-size: var(--fontSize-2) !important;
  color: var(--color-text) !important;
  border-radius: 1.25rem !important;
  background: none !important;
  color: #289e8e !important;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontFamily-dohyeon);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */
p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-6) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-6) / 2);
  margin-left: var(--spacing-6);
}

li > p {
  margin-bottom: calc(var(--spacing-6) / 2);
  margin-bottom: calc(var(--spacing-6) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: #25897b;
  margin: 1rem 0 1rem 0;
  padding: var(--spacing-3) var(--spacing-3) var(--spacing-3) var(--spacing-3);
  font-size: 1rem;
  background: #e5f6f3;
  border: 2px dashed #289e8e;
  border-radius: 0.85rem;
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-2);
  padding: 1rem;
  border-collapse: collapse;
  border-spacing: 0.25rem;
  border: 0.2rem solid white;
}

th {
  padding: 0.5rem;
  background: #254653;
  color: white;
  font-size: 1.25rem;
  border: 1px solid #ccc;
}

td {
  padding: 0.5rem;
  background: #f3fefb;
  border: 1px solid #ccc;
}

a {
  color: var(--color-text-light);
}

a:hover,
a:focus {
  text-decoration: none;
}

/* 페이지 js CSS */

/******************************************************/
/* bio.js */
/******************************************************/
.bio-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
}


@media (max-width: 520px) {

  .career-wrapper h3 {
    font-size: 1.25rem;
  }

  .banner-container {
    padding: 1rem;
  }

  .banner-container h1{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; 
    font-size: 1.5rem;
  }

  .banner-title {
    display: block;
    white-space: pre-line;
  }
  
  .banner-heading{
    white-space: pre-line; 
  }

  .banner-heading {
    font-size: 1.4rem;
  }
  
  .banner-heading::after {
    content: '';
    margin-left: 0.6rem;
    animation: cursor 0.9s infinite steps(2);
  }

  .banner-paragraph {
    line-height: 1rem;
    font-size: 0.85rem;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 1.25rem;
    align-items: center;
    padding-top: 1rem
  }

  .about-container p{
    font-size: 0.85rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .career-card-container {
    display: flex;
    flex-direction: column;
    border-radius: 1.25rem;
    border: 1px solid #ddd;
    padding: 1rem;
    max-width: 520px;
  }

  .career-card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
    font-size: 1rem
  }
  
  .career-card-date {
    display: flex;
    justify-content: center;
    color: #808080;
    font-size: 0.95rem;
    margin-bottom: 0.8rem;
  }

  .career-card-content {
    margin-bottom: 0rem;
  }
  
  .career-card-content > li {
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
  }
}

/******************************************************/
/* blog.js */
/******************************************************/
.category-button {
  cursor: pointer;
  background: none;
  border-radius: 0.5rem;
  border: solid #ddd 1.5px;
  margin-left: 0.25rem;
  margin-top: 0.25rem;
  color: #000;
  width: auto;
  height: 2.5rem;
}

.category-button.active {
  color: #074d89;
  border: solid #074d89 1.5px;
}

.post-wrapper > ol{
  list-style: none;
}

.post-container {
  transition: transform 0.5s ease;
    border-radius: 1.25rem; 

}

.post-container:hover {
  transform: scale(1.05);
  border-radius: 1.25rem; 
}

.post-container-link {
  text-decoration: none;
  color: inherit
}

.post-article {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 1.25rem; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.post-article p {
  margin-bottom: var(--spacing-0);
}

.post-article h2 {
  font-size: var(--fontSize-4);
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-2);
}

.post-article header {
  margin-bottom: var(--spacing-0);
}

.post-article-image-container {
  display: flex;
  flex-direction: column;
}

.post-article-footer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post-article-date{
  color: #808080;
  margin-right: 1rem;
  font-size: 0.85rem;
}

.post-article-view{
  color: #808080;
  font-size: 0.8rem;
}

.category {
  display: inline-block;
  font-size: 0.85rem;
  border: 1px solid #ddd; 
  border-radius: 1.25rem;
  padding: 0.1rem 0.4rem;
  margin-right: 0.2rem;
}

.category-mobile-button{
  display: none;
}

@media (max-width: 520px) {

  .category-mobile-button{
    cursor: pointer;
    background: none;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border: solid #ddd 1.5px;
    color: #000;
  }

  .category-button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden; /* 내용이 나타나지 않도록 함 */
    max-height: 1000px;
    transition: max-height 0.3s ease-in-out; 
  }
  .category-button-container.none{
    max-height: 0;
  }
  .category-button {
    padding: 0.2rem;
    width: 100%;
  }

  .post-article h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: var(--spacing-2);
  }
  .post-article section {
    display: none;
  }
}

/******************************************************/
/* blog-post.js */
/******************************************************/
.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.blog-post-article-image{
  border-radius: 1.25rem;
  border: 1px solid #ddd;
  margin-bottom: 0rem;
  width: 150px;
  height: 150px
}

/******************************************************/
/* book.js */
/******************************************************/
.book-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  margin-top: 4rem;
}

.book-container {
  width: 130px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.book-container-link {
  text-decoration: none;
  color: inherit
}

/******************************************************/
/* ETC */
/******************************************************/
@keyframes cursor {
  from { border-right: 2px solid #222; }
  to { border-right: 2px solid #777; }
}

/* Media queries */
@media (max-width: 520px) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}


/**
 * If you only want to use line numbering
 */

 .gatsby-code-title{
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  height: 2.5rem;
  padding: 0 0 0 0.5rem;
  color: #b6b6b6;
  background-color: #1e1e1e;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
 }

 .gatsby-highlight {
  background-color: #2d2d2d;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  overflow: auto;
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding: 0;
  padding-left: 2.8em;
  overflow: initial;
  font-size: var(--fontSize-2);
  font-family: 'Courier New', Courier, monospace;
}

code[class*="language-"], pre[class*="language-"] {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
  font-size: 0.85rem !important;
}

.gatsby-highlight-code-line {
  background-color: #000;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  border-left: 0.5rem solid #f1bd20;
}
.gatsby-code-button-icon{
  display: none;
}

.gatsby-code-button {
  cursor: pointer;
  color: #b6b6b6;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  margin-right: 0.8rem;
  margin-top: -3.6rem;
  pointer-events: initial;
}

.gatsby-code-button-toaster {
  font-family: var(--fontFamily-jua);
  position: fixed;
  height: 4rem;
  width: 40rem;
  top: 50%;
  left: 50%;
  margin-top: -2rem;
  margin-left: -20rem;
  z-index: 100;
  border-radius: 0.5rem;
}

.page-enter {
  opacity: 0;
  transform: translateY(-20px); /* 페이지가 위로 약간 이동하여 나타나는 효과 */
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0); /* 페이지가 아래에서 위로 서서히 나타나는 효과 */
  transition: opacity 500ms ease-in, transform 500ms ease-in; /* 페이드 인 및 이동 트랜지션 */
}

.page-exit {
  opacity: 1;
  transform: translateY(0); /* 현재 위치에서 시작 */
}

.page-exit-active {
  opacity: 0;
  transform: translateY(-20px); /* 페이지가 위로 약간 이동하여 사라지는 효과 */
  transition: opacity 500ms ease-out, transform 500ms ease-out; /* 페이드 아웃 및 이동 트랜지션 */
}


/* loading-overlay 스타일링 */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* spinner 스타일링 */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #09f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* 스피너 회전 애니메이션 */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
