/* 글꼴 추가 - Jua */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/* 글로벌 CSS */
:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: "MontserratVariable", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --fontFamily-jua: 'Jua', sans-serif; /* Jua 글꼴 적용 */
  --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-body: var(--fontFamily-jua);
  --font-heading: var(--fontFamily-jua);
  --fontWeight-normal: 400;
  --fontWeight-bold: 700;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #2e353f; /* #005b99; */
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
}

/******************************************************/
/* 마크다운 HTML CSS */
/******************************************************/

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */
p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  text-decoration: none;
}

/* 페이지 js CSS */
/******************************************************/
/* layout.js */
/******************************************************/
.layout-wrapper {
  margin: 0 auto;
  max-width: 1000px; /* 맥북에서 사용하기 좋은 최대 너비 */
  padding: 10px 5%; /* 좌우 여백을 전체 너비의 5%로 설정 */
}

.layout-header {
  margin-bottom: var(--spacing-12);
}

.layout-header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.layout-header-title {
  font-size: 1.5rem;
}

.layout-nav-button {
  margin-left: 0.8rem;
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* 트랜지션 효과 추가 */
}

.layout-nav-button.active {
  color: #074d89;
}

.layout-nav-button:hover {
  text-decoration: underline; /* 호버 시 텍스트에 밑줄 추가 */
  transform: translateY(-5px); /* translateY 값 조절 */
}

/******************************************************/
/* bio.js */
/******************************************************/
.bio-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
}

.banner-container {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 1.25rem; 
  padding: 2rem;
  max-width: 100rem;
}

.banner-heading {
   font-size: 2.65 rem;
}

.banner-heading::after {
  content: '';
  margin-left: 0.6rem;
  animation: cursor 0.9s infinite steps(2);
}

.banner-paragraph {
  line-height: 1.25rem;
  font-size: 1.25rem;
}

.about-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 1.25rem;
  align-items: center;
}

.about-container p{
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.image-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-card-avatar {
  border-radius: 1.25rem;
  width: 150px;
  height: 150px;
}

.career-card-container {
  display: flex;
  flex-direction: column;
  border-radius: 1.25rem;
  border: 1px solid #ddd;
  padding: 1rem;
  max-width: 12rem;
}

.career-card-image {
  display: flex;
  justify-content: center;
}

.career-card-title {
  margin-bottom: 0rem;
  font-size: 1rem
}

.career-card-date {
  color: #808080;
  font-size: 0.95rem;
  margin-bottom: 0.8rem;
}

.career-card-content {
  padding-left: 0.45rem;
}

.career-card-content > li {
  margin-bottom: 0rem
}

.education-container {
  border: 1px solid #ddd;
  border-radius: 1.25rem;
  padding: 1rem; 
  margin-bottom: 0.8rem;
  transition: transform 0.3s ease;
}

.education-container:hover {
  transform: scale(1.05);
}

.hist-card-container {
  display: flex;
  flex-direction: row; 
  text-align: center; 
}

.hist-card-container p {
  margin-bottom: 0rem;
  margin-right: 1rem;
}

.hist-card-container p::before {
  content: "\00a0\00a0\00a0\00a0"; /* 공백 4칸 삽입 */
}

/* 미디어 쿼리: 화면 너비가 768px 이하일 때 */
@media screen and (max-width: 768px) {
  .hist-card-container {
    flex-direction: column; /* 세로로 배치 */
    align-items: center; /* 세로 가운데 정렬 */
  }

  .hist-card-container p {
    margin-right: 0rem; /* 화면이 좁을 때는 마진 제거 */
    margin-bottom: 1rem; /* 세로 배치될 때 간격 조절을 위한 마진 추가 */
  }
}

.hist-cards-title,
.hist-card {
  margin: 0.2rem 0rem;
}

/******************************************************/
/* blog.js */
/******************************************************/
.category-button {
  cursor: pointer;
  background: none;
  border-radius: 0.5rem;
  border: solid #ddd 1.5px;
  margin-left: 0.25rem;
  width: 5rem;
  height: 2.5rem;
}

.category-button.active {
  color: #074d89;
  border: solid #074d89 1.5px;
}

.post-wrapper > ol{
  list-style: none;
}

.post-container {
  transition: transform 0.3s ease;
}

.post-container:hover {
  transform: scale(1.05);
}

.post-container-link {
  text-decoration: none;
  color: inherit
}

.post-article {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 1.25rem; 
  align-items: center;
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.post-article p {
  margin-bottom: var(--spacing-0);
}

.post-article h2 {
  font-size: var(--fontSize-4);
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-2);
}

.post-article header {
  margin-bottom: var(--spacing-0);
}

.post-new-tag-image{
  z-index: 2;
  margin-top: -5.25rem;
  margin-left: -0.35rem;
}

.post-article-image{
  z-index: 1;
  border-radius: 1.25rem;
  border: 1px solid #ddd;
  margin-bottom: 0px;
  margin-right: 1.5rem;
  width: 130px;
  height: 130px;
}

.post-article-image.left{
  left: -55px;
}

.post-article-content.left{
  margin-left: -55px;
}

.post-article-date{
  color: #808080;
}

.category {
  display: inline-block;
  font-size: 0.85rem;
  border: 1px solid #ddd; 
  border-radius: 1.25rem;
  padding: 0.1rem 0.4rem;
  margin-right: 0.2rem;
}

/******************************************************/
/* blog-post.js */
/******************************************************/
.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.blog-post-article-image{
  border-radius: 1.25rem;
  border: 1px solid #ddd;
  margin-bottom: 0rem;
  width: 150px;
  height: 150px
}

/******************************************************/
/* ETC */
/******************************************************/
@keyframes cursor {
  from { border-right: 2px solid #222; }
  to { border-right: 2px solid #777; }
}

/* Media queries */
@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}