/* 글꼴 추가 - Jua */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: "MontserratVariable", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --fontFamily-jua: 'Jua', sans-serif; /* Jua 글꼴 적용 */
  --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-body: var(--fontFamily-jua);
  --font-heading: var(--fontFamily-jua);
  --fontWeight-normal: 400;
  --fontWeight-bold: 700;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #005b99;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Custom classes */

.global-wrapper {
  margin: 0 auto;
  max-width: 1000px; /* 맥북에서 사용하기 좋은 최대 너비 */
  padding: 10px 5%; /* 좌우 여백을 전체 너비의 5%로 설정 */
}

.global-wrapper[data-is-root-path="true"] .bio {
  margin-bottom: var(--spacing-20);
}

.global-header {
  margin-bottom: var(--spacing-12);
}

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}

.post-list-item {
  display: flex;
  flex-direction: row; /* 위아래로 배치하도록 설정 */
  gap: 30px;
  border: 1px solid #ddd; /* 각 카테고리별로 테두리 스타일 지정 */
  border-radius: 10px; /* 20px를 rem으로 변환한 값 */
  align-items: center;
  /* padding-left: 1rem; 원하는 여백 크기를 지정합니다. */
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-2);
}

.post-list-item header {
  margin-bottom: var(--spacing-0);
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}



.about-me-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 3rem;
  border-radius: 1.25rem;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 100rem;
  margin: 0 auto;
}

.about-me-profile {
  display: flex;
  align-items: center;
  flex-direction: column; /* 위아래로 배치하도록 설정 */
  gap: 30px;
}

.about-me-description {
  list-style-type: none;
  padding: 0;
  flex-direction: column; /* 위아래로 배치하도록 설정 */
  align-items: center; /* 가운데 정렬 */
}

.about-me-paragraph {
  line-height: 0.5;
  font-size: 1.25rem;
}

.about-me-hightlight {
  color: #074d89;
  font-size: 1.5rem;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .about-me-container {
    flex-direction: column;
    align-items: center;
  }

  .about-me-avatar {
    width: 100%;
    height: auto;
  }

  .about-me-description {
    margin-top: 10px;
    width: 100%;
  }
}

/* Media query for larger screens */
@media screen and (min-width: 1200px) {
  .about-me-container {
    flex-direction: row;
  }
}

/* App.css */

/* 전체 네비게이션 바 스타일 */
.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* background-color: #f8f9fa; 배경 색상은 필요에 따라 수정 가능합니다. */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 그림자 추가 */
  font-family: 'Jua', sans-serif; /* Jua 글꼴 적용 */
}

/* 블로그 제목 스타일 */
.title {
  font-size: 1.5rem;
  color: #212529; /* 텍스트 색상은 필요에 따라 수정 가능합니다. */
  font-family: 'Jua', sans-serif; /* Jua 글꼴 적용 */
}

/* 각 버튼 스타일 */
.nav-button {
  margin-left: 10px;
  padding: 8px 8px;
  border: none; /* 테두리 제거 */
  background-color: transparent; /* 배경을 투명하게 설정 */
  color: #000; /* 버튼 텍스트 색상을 검은색으로 변경 */
  font-size: 20px;
  cursor: pointer;
  font-family: 'Jua', sans-serif; /* Jua 글꼴 적용 */
  transition: transform 0.3s ease-in-out; /* 트랜지션 효과 추가 */
}

.nav-button.active {
  color: #074d89;
}

/* 버튼 호버 효과 */
.nav-button:hover {
  text-decoration: underline; /* 호버 시 텍스트에 밑줄 추가 */
  transform: translateY(-5px); /* translateY 값 조절 */
}

.banner-container {
  text-align: center;
  border: 1px solid #ddd; /* 각 카테고리별로 테두리 스타일 지정 */
  border-radius: 10px; /* 20px를 rem으로 변환한 값 */
  padding: 3rem; /* 20px를 rem으로 변환한 값 */
  /* background-color: #f2f2f2; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  max-width: 100rem; /* 600px를 rem으로 변환한 값 */
  margin: 0 auto;
}

.banner-heading {
  color: #074d89;
  font-size: 2.8125rem; /* 45px를 rem으로 변환한 값 */
}

.banner-paragraph {
  line-height: 1.25; /* 20px를 rem으로 변환한 값 */
  font-size: 1.25rem; /* 20px를 rem으로 변환한 값 */
  color: #333333;
}

.banner-heading::after {
  content: '';
  margin-left: .6rem;
  border-right: 2px solid #777;
  animation: cursor .9s infinite steps(2);
}

@keyframes cursor {
  from { border-right: 2px solid #222; }
  to { border-right: 2px solid #777; }
}

/* Media queries */
@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}

/* 다시 작성 */
/* style.css */

.hist-card-container {
  display: flex;
  flex-direction: row; /* 기본적으로 가로로 나타나도록 변경 */
  text-align: center; /* 기본적으로 텍스트를 가운데 정렬 */
}

.hist-card-container p {
  margin: 0; /* 기본 마진 제거 */
  margin-right: 10px; /* 각 p 태그 사이의 간격 조절을 위한 마진 추가 */
}

.hist-card-container p::before {
  content: "\00a0\00a0\00a0\00a0"; /* 공백 4칸 삽입 */
}

/* 미디어 쿼리: 화면 너비가 768px 이하일 때 */
@media screen and (max-width: 768px) {
  .hist-card-container {
    flex-direction: column; /* 세로로 배치 */
    align-items: center; /* 세로 가운데 정렬 */
  }

  .hist-card-container p {
    margin-right: 0; /* 화면이 좁을 때는 마진 제거 */
    margin-bottom: 10px; /* 세로 배치될 때 간격 조절을 위한 마진 추가 */
  }
}

.category-container {
  border: 1px solid #ddd; /* 각 카테고리별로 테두리 스타일 지정 */
  border-radius: 10px; /* 테두리 둥글게 만들기 */
  padding: 10px; /* 테두리와 내용 사이의 간격 조절 */
  margin-bottom: 10px; /* 각 카테고리별로 아래쪽 간격 조절 */

  transition: transform 0.3s ease; /* 확대 효과에 애니메이션을 부여하는 CSS 속성 */
}

.category-container:hover {
  transform: scale(1.05); /* 마우스를 올렸을 때 5% 확대 */
}

.hist-cards-title,
.hist-card {
  margin: 5px 0; /* 위아래 간격을 조절 */
}

.image-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px
}

.geunskoo-avatar {
  border-radius: 10%;
  width: 150px;
  height: 150px;
}

.social-icons {
  display: flex;
  width: 130px;
  gap: 25px; /* 아이콘들 사이의 간격 조절 */
  align-items: center; /* 아이콘들을 세로로 가운데 정렬 */
  justify-content: center; /* 아이콘들을 가로로 가운데 정렬 */
}

.about-container {
  display: flex;
  flex-direction: row; /* 가로로 배치 */
  gap: 15px;
  border: 1px solid #ddd; /* 각 카테고리별로 테두리 스타일 지정 */
  border-radius: 10px; /* 테두리 둥글게 만들기 */
  padding: 10px; /* 테두리와 내용 사이의 간격 조절 */
  
}

.about-container p{
  margin-bottom: 10px; /* 각 카테고리별로 아래쪽 간격 조절 */
}
/* 추가적인 스타일을 필요에 따라 설정할 수 있습니다. */

.category {
  display: inline-block; /* 텍스트에 핏하게 테두리를 적용하기 위해 inline-block으로 설정 */
  font-size: 13px;
  border: 1px solid #ddd; /* 각 카테고리별로 테두리 스타일 지정 */
  border-radius: 10px; /* 테두리 둥글게 만들기 */
  padding: 1px 8px; /* 테두리와 텍스트 간의 간격 조정 */
}

.transition-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 50rem;
  margin: 0 auto;
  transition: transform 0.5s ease-in-out; /* transform에 대한 트랜지션 효과 추가 */
}

/* 확대 효과 클래스 */
.transition-container.zoom-in {
  transform: scale(1.5); /* 원하는 확대 정도로 조절 */
}

.custom-gatsby-image {
  object-fit: cover !important;
}

.category-button {
  cursor: pointer;
  background: none;
  border-radius: 0.5rem;
  border: solid #ddd;
  margin-left: 0.25rem;
  width: 5rem;
  height: 2.5rem;
}