/* 전역에 마지막 li 아래 margin 삭제조건 걸려있음 따라서 important필요 */
.article-post-category-wrapper{
    margin: 0 0 0.5rem 0 !important;
}

.article-post-category {
    display: inline-block;
    font-size: var(--fontSize-0);
    
    width: fit-content;
    border: var(--border-light);
    border-radius: var(--radius-1);
    box-shadow: 0 1px 3px var(--color-gray);
    font-size: var(--fontSize-0);

    padding: 0.1rem 0.4rem;
    margin-right: 0.2rem;   
}

