.experience-wrapper {
    padding: 1rem;
}

.experience-wrapper p { 
    margin: 0 0 1rem 0;
}

@media (max-width: 520px) {

    .experience-wrapper{
        border: var(--border-light);
        border-radius: var(--radius-1);

        padding: 0.5rem 0.5rem 0rem 0.5rem;
        margin: 1rem 0 0 0;
    }
}